*~
*.o
src/*.o-*
*.so
*.dll
.Rproj.user
.Rhistory
.RData
.Rprofile
.Renviron
tmp/
gears/
/lib/
inst/doc
*.Rds
/vignettes/*.R
/vignettes/figures
/vignettes/old_lib
/vignettes/new_lib
/vignettes/modules/**/lib
*_SECRET_*
README.html
README_files
.modulr_profile.R
/.github/*.html
/inst/modules/new_lib/**
/inst/modules/old_lib/**
/inst/modules/**/lib
MAKE.R
/docs/**/*.R
..Rcheck/
scratch/
