*.o
src/*.o-*
*.so
*.dll
.Rproj.user
.Rhistory
.RData
.Rprofile
.Renviron
tmp/
gears/
/lib/
inst/doc
*.Rds
/vignettes/*.R
/vignettes/figures
*_SECRET_*
README.html
README_files
.modulr_profile.R
/.github/*.html
